* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300;
  color: #3c3c3c;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 0.16em;
  line-height: 1.3;
}
p {
  margin: 0 0 25px;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.container--header {
  max-width: 610px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.ba-header {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #aeb8cd;
  color: #fff;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.ba-header__title {
  font-size: 54px;
  letter-spacing: 0.14em; /*16/1000*/
  font-weight: 700;
  margin-bottom: 35px;
}
.ba-header__text {
  font-size: 15px;
  letter-spacing: 0.06em; /*16/1000*/

  line-height: 2;
}
.ba-header__logo {
  /* display: block;v */
  height: 70px;
  width: 72px;
  margin-top: 285px;
  margin-bottom: 80px;
}

.ba-header__scroll svg {
  height: 37px;
  width: 23px;
  position: absolute;
  bottom: 115px;
  left: 50%;
  margin-left: -12px;
}
.ba-header__scroll svg:hover {
  opacity: 0.6;
}
.design {
  width: 80px;
  height: 84px;
}

.development {
  width: 79px;
  height: 76px;
}
.product {
  width: 79px;
  height: 91px;
}

/* About */
.ba-about {
  background-color: #fff;
  min-height: 630px;
  font-size: 16px;
  padding: 160px 0;
}
.ba-box {
  border: 2px solid #3c3c3c;
  border-width: 0 2px 2px; /*?*/
  padding: 70px 180px 26px;
  text-align: center;
  position: relative;
}
.ba-box:before,
.ba-box:after {
  display: block;
  content: "";
  position: absolute;
  height: 2px;
  background: #3c3c3c;
  width: 22%;
  top: 0;
}
.ba-box:before {
  left: 0;
}
.ba-box:after {
  right: 0;
}
.ba-box:last-child {
  margin-bottom: 0;
}
.ba-box--light {
  border-color: #fff;
}
.ba-box--light:before,
.ba-box--light:after {
  background-color: #fff;
}

.ba-box__title {
  font-size: 34px;
  text-transform: uppercase;
  position: absolute;
  left: 24%; /*?*/
  top: 0;
  margin: 0;
  text-align: center;
  width: 52%; /*?*/
  transform: translateY(-50%);
}
.ba-box h3{
  margin: 46px 0;
  text-transform: uppercase;
}
.ba-box__btn{
  display: block;
  background-color: #3c3c3c;
  color: #fff;
  padding: 23px 137px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 46px 0;

}

.ba-section {
  padding: 130px 0 110px;
}

/* services */
.ba-section--services {
  color: #fff;
  background-color: #aeb8cd;
  background-image: url(../img/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ba-services {
  min-height: 488px;
  background-color: #aeb8cd;
}
/* grid */
.ba-row + .ba-row {
  margin-top: 1rem;
}
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.ba-col-4 {
  width: 33.33%;
}
[class^="ba-col-"] {
  padding: 0 15px;
}
.grid__title {
  position: absolute;
}
/* grid */
footer{
  
}
.footer__logo{
  color: #3c3c3c;
  height: 70px;
  width: 72px;
}
/*svg  */
.visually-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
